<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<!--可以同时开启多条线程进行测试任务-->
<suite name="TestNg"  parallel="methods" thread-count="2">
    <test name="TestNg">
        <classes>

            <class name="TestNgtow" >
                <methods>
                    <include name="TestNgtow.numadd(1.0,2.0)"/>
                        </methods>
            </class>
<!--            <class name="TestNg" >-->
<!--            </class>-->

        </classes>
    </test>
</suite>